div.header-div {
	height: 4rem;
	display: flex;
	justify-content: space-between;
	background-color: $header-background-color;
	border-left: 1px solid $header-border-color;
	border-top: 1px solid $header-border-color;
	border-right: 1px solid $header-border-color;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

div.header {
  height: 4rem;
}

p.header-label {
	padding: 0.8rem 1rem;
	margin: 0;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	font-size: 1.5rem;
	font-family: 'Poppins', sans-serif;
	color: $header-content-color;
}

div.header-icon-div {
	display: flex;
	align-items: center;
	height: 4rem;
	padding-right: 10px;
}

div.header-icon {
	width: 2rem;
	height: 2rem;
	font-size: 1.5rem;
	color: $header-content-color;
	cursor: pointer;
	display: flex;
	justify-content: space-around;
	border-radius: 3px;
}

div#header-plus {
	margin-right: 10px;
	background-color: $header-plus-background-color;
	transition: background-color 0.25s ease-out;

	&:hover {
		background-color: scale-color($header-plus-background-color, $lightness: -15%);
	}
}
