div.inputer {
	height: 7rem;
	padding-top: 0.1rem;
	background-color: $dark-brown-2;
	border-left: 1px solid $dark-brown-1;
	border-right: 1px solid $dark-brown-1;
}

input.add-input {
	width: 95%;
	height: 3rem;
	font-size: 1.2rem;
	color: white;
  margin: 0.5rem auto;
	border: none;
	background-color: #505050;
}

input.add-input:focus {
	outline: none;
  box-shadow: none;
	background-color: #505050;
	color: white;
}

input.search-input {
	width: 95%;
	height: 3rem;
	font-size: 1.2rem;
	color: white;
	margin: 0.5rem auto;
	border: none;
	background-color: #505050;
}

input.search-input:focus {
	outline: none;
  box-shadow: none;
	background-color: #505050;
	color: white;
}
