div.todo-list {
  width: 100%;
	height: 100%;
  border: 1px solid $todo-list-border-color;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: $todo-list-background-color;
  padding-bottom: 0.3rem;

  >:last-child {
    border-bottom: none;
  }
}
